<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2016 The CyanogenMod Project

     Licensed under the Apache License, Version 2.0 (the "License"
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:sharedUserId="android.uid.system"
          package="com.cyanogenmod.settings.device"
          android:versionCode="6"
          android:versionName="2.4" >

    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <uses-permission android:name="cyanogenmod.permission.HARDWARE_ABSTRACTION_ACCESS" />

    <protected-broadcast android:name="com.cyanogenmod.settings.device.FP_HOME_SETTING" />

    <uses-sdk
        android:minSdkVersion="24" />

    <application
        android:icon="@mipmap/ic_launcher_settings"
        android:label="@*cyanogenmod.platform:string/device_settings_app_name"
        android:theme="@style/Theme.Main"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true">

        <provider
            android:name=".ConfigPanelSearchIndexablesProvider"
            android:authorities="com.cyanogenmod.settings.device"
            android:multiprocess="false"
            android:grantUriPermissions="true"
            android:permission="android.permission.READ_SEARCH_INDEXABLES"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.action.SEARCH_INDEXABLES_PROVIDER" />
            </intent-filter>
        </provider>

        <activity
            android:name=".ButtonSettings"
            android:label="@string/button_panel_title">
            <intent-filter>
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_settings_additional_buttons" />
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.device" />
        </activity>

        <receiver android:name=".Startup" >
            <intent-filter>
                <action android:name="cyanogenmod.intent.action.INITIALIZE_CM_HARDWARE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
