# Allow fingerprintd to open firmware images
r_dir_file(fingerprintd, firmware_file)

allow fingerprintd fpc_data_file:dir rw_dir_perms;
allow fingerprintd fpc_data_file:file create_file_perms;
allow fingerprintd fpc_data_file:sock_file { create unlink };
allow fingerprintd sysfs:file write;
allow fingerprintd sysmatdrv_device:chr_file w_file_perms;
allow fingerprintd tee_device:chr_file rw_file_perms;
allow fingerprintd uhid_device:chr_file rw_file_perms;
