allow init graphics_device:chr_file { write ioctl };
allow init mm-pp-daemon:unix_stream_socket connectto;
allow init pps_socket:sock_file write;
allow init qmuxd:unix_stream_socket connectto;
allow init qmuxd_socket:sock_file write;
allow init self:socket { read getopt create write ioctl };
allow init servicemanager:binder { transfer call };
allow init socket_device:sock_file { create setattr };
