type mmbn-daemon, domain;
type mmbn-daemon_exec, exec_type, file_type;

# Allow for transition from init domain to mmbn-daemon
init_daemon_domain(mmbn-daemon)

# Allow mmbn-daemon to communicate with qmuxd via qmux_radio socket
qmux_socket(mmbn-daemon)

# Allow mmbn-daemon to open modem firmware images
r_dir_file(mmbn-daemon, firmware_file)

# Allow mmbn-daemon to set radio properties
set_prop(mmbn-daemon, radio_prop)

allow mmbn-daemon self:capability { dac_override fsetid };
allow mmbn-daemon self:socket create_socket_perms;

allow mmbn-daemon diag_device:chr_file { open ioctl read write getattr };
