type nv_mac, domain;
type nv_mac_exec, exec_type, file_type;

# Allow for transition from init domain to nv_mac
init_daemon_domain(nv_mac)

allow nv_mac persist_file:dir setattr;
allow nv_mac wlan_bt_persist_file:file { open read setattr write };
allow nv_mac self:capability { chown dac_override fowner fsetid };
allow nv_mac self:socket { create getopt ioctl read write };
allow nv_mac qmuxd:unix_stream_socket connectto;
allow nv_mac qmuxd_socket:dir { add_name write };
allow nv_mac qmuxd_socket:sock_file { create setattr write };
