type readmac, domain;
type readmac_exec, exec_type, file_type;

# Allow for transition from init domain to readmac
init_daemon_domain(readmac)

# Allow readmac to communicate with qmuxd via qmux_radio socket
qmux_socket(readmac)

# Allow readmac to fully access wlan_mac.bin persist file
allow readmac persist_file:dir rw_dir_perms;
allow readmac persist_file:file create_file_perms;

allow readmac self:capability dac_override;
allow readmac self:socket create_socket_perms;

allow readmac diag_device:chr_file { open ioctl read write getattr };
