# Allow binder calls to displayfeature
binder_call(system_app, displayfeature)

# Allow binder calls to fingerprintd
binder_call(system_app, fingerprintd)

# Allow ConfigPanel to write to the input nodes
allow system_app sysfs_homebutton:file rw_file_perms;
