# Copyright (c) 2013-2015, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

on early-init
    mkdir /firmware 0771 system system
    mkdir /bt_firmware 0771 system system
    symlink /data/tombstones /tombstones
    mkdir /dsp 0771 media media
    chown system root  /sys/module/msm_thermal/core_control/cpus_offlined
    chmod 666 /sys/module/msm_thermal/core_control/cpus_offlined

on post-fs
    export LD_PRELOAD libNimsWrap.so

on init
    mkdir /cust 0771 system system
    # write /sys/module/qpnp_rtc/parameters/poweron_alarm 1

on fs
    wait /dev/block/bootdevice
    mount_all fstab.qcom
    swapon_all fstab.qcom

    restorecon_recursive /persist
    mkdir /persist/data 0700 system system
    mkdir /persist/wlan_bt 0700 system system
    mkdir /persist/audio 0777 media audio

    restorecon_recursive /dsp

on post-fs
    # We chown/chmod /cust again so because mount is run as root + defaults
    chown system system /cust
    chmod 0771 /cust
    # We restorecon /cust in case the cust partition has been reset.
    restorecon_recursive /cust

    # create the lost+found directories, so as to enforce our permissions
    mkdir /cust/lost+found 0770 root root

    # We chown/chmod sram update period so app can change it
    chown root system /sys/module/qpnp_fg/parameters/sram_update_period_ms
    chmod 0660 /sys/module/qpnp_fg/parameters/sram_update_period_ms

on post-fs-data
    mkdir /data/tombstones 0771 system system
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/lpass 0771 system system
    mkdir /tombstones/wcnss 0771 system system
    mkdir /tombstones/dsps 0771 system system
    mkdir /persist/data/sfs 0700 system system
    mkdir /persist/data/tz 0700 system system
    mkdir /persist/qc_senseid 0700 system system
    mkdir /data/misc/dts 0770 media audio
    mkdir /data/usf 0700 system system
    mkdir /data/nfc 0770 nfc nfc
    mkdir /data/misc/tloc/ 0700 system drmrpc
    mkdir /data/misc/qvop 0660 system system
    mkdir /data/misc/audio_pp 0771 media audio
    chown system system /dev/sysmatdrv
    chmod 0660 /dev/sysmatdrv
    mkdir /data/fpc 0770 system system
    mkdir /data/fpc/s 0770 system system

on property:init.svc.bootanim=running
    write /sys/class/leds/wled/brightness 4095

on boot
    start rmt_storage
    start rfs_access
    # nfc init config
    chmod 0660 /dev/pn548
    chown nfc nfc /dev/pn548
# access permission for secure touch
    chmod 0660 /sys/devices/soc/75ba000.i2c/i2c-12/12-0020/secure_touch_enable
    chmod 0440 /sys/devices/soc/75ba000.i2c/i2c-12/12-0020/secure_touch
    chown system drmrpc /sys/devices/soc/75ba000.i2c/i2c-12/12-0020/secure_touch_enable
    chown system drmrpc /sys/devices/soc/75ba000.i2c/i2c-12/12-0020/secure_touch
    write /proc/sys/kernel/sched_boost 1
    write /sys/devices/soc/75ba000.i2c/i2c-12/12-0020/input/input0/update_fw 1

# access permission for led torch
    chmod 0666 /sys/class/leds/led:torch_0/brightness
    chmod 0666 /sys/class/leds/led:torch_1/brightness
    chmod 0666 /sys/class/leds/led:switch/brightness

# access permission for smartPA
    chmod 0666 /dev/i2c-9

# audio smart pa cold boot
service tfa_cold_boot /system/bin/sh /system/bin/tfa_coldboot.sh /etc/silence_short.wav 15 1
    class main
    user system
    group system
    disabled
    oneshot

on property:service.soundcard.detected=1
    start tfa_cold_boot

#start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics

#fingerprint service
service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
    group drmrpc input system
    socket fpce stream 0660 system system

service qfp-daemon /system/bin/qfp-daemon
    class late_start
    user system
    group system drmrpc diag input

service qvop-daemon /system/bin/qvop-daemon
    class late_start
    user system
    group system drmrpc

#Start up peripheral manager
service per_mgr system/bin/pm-service
    class core
    user system
    group system net_raw
    ioprio rt 4

service per_proxy /system/bin/pm-proxy
    class core
    user system
    group system
    disabled

on property:init.svc.per_mgr=running
    start per_proxy

on property:sys.shutdown.requested=*
    stop per_proxy

## Allow usb charging to be disabled peristently
#on property:persist.usb.chgdisabled=1
#    write /sys/class/power_supply/battery/charging_enabled 0
#
#on property:persist.usb.chgdisabled=0
#    write /sys/class/power_supply/battery/charging_enabled 1
#
#service qrngd /system/bin/qrngd -f
#   class main
#   user root
#   group root
#
#service qrngp /system/bin/qrngp
#    class main
#    user root
#    group root
#    oneshot
#    disabled
#
#on property:sys.boot_completed=1
#    start qrngp

service qseecomd /system/bin/qseecomd
   class core
   user root
   group root

service perfd /system/vendor/bin/perfd
   class main
   user root
   disabled

service seempd /system/bin/seempd
   class late_start
   user system
   group system
   socket seempdw dgram 0666 system system

service secotad /system/bin/secotad
   class late_start
   user system
   group system

#service mpdecision /system/bin/mpdecision --avg_comp
#   user root
#   disabled
#
#service qosmgrd /system/bin/qosmgr /system/etc/qosmgr_rules.xml
#   user system
#   group system
#   disabled
#
service thermal-engine /system/vendor/bin/thermal-engine
   class main
   user root
   socket thermal-send-client stream 0666 system system
   socket thermal-recv-client stream 0660 system system
   socket thermal-recv-passive-client stream 0666 system system
   group root
   socket thermal-send-client stream 0666 system system
   socket thermal-recv-client stream 0660 system system
   socket thermal-recv-passive-client stream 0666 system system

#service security-check1 /sbin/security_boot_check system
#    class core
#    oneshot
#
#service security-check2 /sbin/security_boot_check recovery
#    class core
#    oneshot
#
service time_daemon /system/bin/time_daemon
   class late_start
   user root
   group root

service adsprpcd /system/bin/adsprpcd
   class main
   user media
   group media

service audiod /system/bin/audiod
   class late_start
   user system
   group system


service usf_tester /system/bin/usf_tester
    user system
    group system inet
    disabled
    oneshot

service usf_epos /system/bin/usf_epos
    class main
    user system
    group system inet
    disabled
    oneshot

service usf_gesture /system/bin/usf_gesture
    user system
    group system inet
    disabled
    oneshot

service usf_sync_gesture /system/bin/usf_sync_gesture
    user system
    group system inet audio
    disabled
    oneshot

service usf_p2p /system/bin/usf_p2p
    user system
    group system inet
    disabled
    oneshot

service usf_hovering /system/bin/usf_hovering
    user system
    group system inet
    disabled
    oneshot

service usf_proximity /system/bin/usf_proximity
    class late_start
    user system
    group system inet audio

service usf_pairing /system/bin/usf_pairing
    user system
    group system inet
    disabled
    oneshot

service usf_sw_calib /system/bin/usf_sw_calib
    user system
    group system inet
    disabled
    oneshot

service usf-post-boot /system/bin/sh /system/etc/usf_post_boot.sh
    class late_start
    user root
    disabled
    oneshot

on property:init.svc.bootanim=stopped
    start usf-post-boot

service imsqmidaemon /system/bin/imsqmidaemon
    class main
    user system
    socket ims_qmid stream 0660 system radio
    group radio net_raw log diag

service imsdatadaemon /system/bin/imsdatadaemon
    class main
    user system
    socket ims_datad stream 0660 system radio
    group system wifi radio inet net_raw log diag net_admin
    disabled

service pd_mapper /system/vendor/bin/pd-mapper
     class core
     disabled

on property:persist.sys.pd_enable=1
     start pd_mapper
     write /sys/class/service_locator/service_locator_status 1

on property:persist.sys.pd_enable=0
     write /sys/class/service_locator/service_locator_status 0

on property:sys.ims.QMI_DAEMON_STATUS=1
    start imsdatadaemon

service ims_rtp_daemon /system/bin/ims_rtp_daemon
   class main
   user system
   socket ims_rtpd stream 0660 system radio
   group radio net_raw diag inet log
   disabled

service imscmservice /system/bin/imscmservice
   class main
   user system
   group radio net_raw diag diag log
   disabled

on property:sys.ims.DATA_DAEMON_STATUS=1
   start ims_rtp_daemon
   start imscmservice

service dts_configurator /system/bin/dts_configurator
    class late_start
    user system
    group system media audio
    oneshot

service dtseagleservice /system/bin/dts_eagle_service
    class late_start
    user system
    group audio media
    disabled

on property:init.svc.dts_configurator=stopped
    start dtseagleservice

service ppd /system/bin/mm-pp-dpps
    class late_start
    user system
    group system graphics
    socket pps stream 0660 system system

service tlocd /system/bin/tloc_daemon
    class late_start
    user system
    group drmrpc gps net_raw

on property:init.svc.surfaceflinger=stopped
    stop ppd

on property:init.svc.surfaceflinger=running
    start ppd

on charger
    wait /dev/block/bootdevice/by-name/system
    mount ext4 /dev/block/bootdevice/by-name/system /system ro barrier=1
    write /sys/class/input/input0/enabled 0
    write /sys/class/input/input1/enabled 0
    write /sys/class/input/input2/enabled 0
    write /sys/class/input/input3/enabled 0
    write /sys/class/input/input4/enabled 0
    write /sys/class/input/input5/enabled 0
    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    write /sys/module/lpm_levels/system/system-cci-pc/idle_enabled 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "userspace"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed 300000
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "userspace"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_setspeed 300000
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/module/msm_thermal/parameters/enabled "N"
    start hvdcp_opti
    start qcom-sh

service energy-awareness /system/bin/energy-awareness
    class main
    user root
    group system
    oneshot

service hvdcp_opti /system/bin/hvdcp_opti
    class main
    user root
    group root

on property:persist.sys.ltm_enable=*
    start service_ad

service mdtp_service /system/vendor/bin/mdtp_service
   class late_start
   user system
   group system

service displayfeature /system/bin/displayfeature
    class late_start
    user root
    group root

service qpaydaemon /system/vendor/bin/qpaydaemon
    class late_start
    user system
    group system

service smonsir /system/bin/smonsir
    user root
    group root
    oneshot
    disabled

service smprosrv /system/bin/smprosrv
    user root
    group root
    oneshot
    disabled

on property:persist.sys.matsir.enable=1
    setprop sys.sysmat.service.control start
    start smonsir
    start smprosrv

service smeloop /system/bin/smeloop
    class late_start
    user root
    group root
    oneshot

on charger
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/module/lpm_levels/parameters/sleep_disabled 0

on property:slpi.restart=1
    write /sys/kernel/debug/msm_subsys/slpi restart

service mtservice /system/bin/mtd
    class late_start
